.body{
  height: 100vh;
}

.nav {
  display: flex;
}

.maindiv {
  display: flex;
}

.menubar {
  margin-left: 7px;
}

.header-logo {
  margin-top: 9px;
  margin-left: 15px;
  height: 30px;
}

.search-box {
  position: relative;
  top: 8px;
  margin-top: 0px;
  width: 1050px;
  height: 29px;
  margin-left: 5px;
  border: 0px;
}

.search-icon {
  position: relative;
  top: 15px;
  width: 20px;
  height: 20px;
  margin-left: 25px;
}

.notification {
  position: relative;
  top: 13px;
  margin-left: 20px;
  width: 22px;
  height: 21px;
}

.profile {
  position: relative;
  top: 5px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
}

.para {
  margin-left: 10px;
}

.dropdown2 {
  margin-left: 5px;
}

.sidebar {
  width: 220px;
}

.divD {
  position: relative;
  left: 30px;
  top: 40px;
  width: 150px;

}

.D {
  position: relative;
  height: 25px;
}

.DP {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  font: 18px Roboto;
  color: #C8242F;
  bottom: 7px;
  margin-top: 10px;

}

.divA {
  position: relative;
  left: 30px;
  top: 45px;
  width: 150px;

}

.A {
  position: relative;
  height: 25px;
}

.AP {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  font: 18px Roboto;
  color: #3E3E3E;
  bottom: 7px;
}

.divI {
  position: relative;
  left: 30px;
  top: 50px;
  width: 150px;
}

.I {
  position: relative;
  height: 25px;
}

.IP {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  font: 18px Roboto;
  color: #3E3E3E;
  bottom: 7px;
}

.divH {
  position: relative;
  left: 30px;
  top: 60px;

  width: 150px;
}

.H {
  position: relative;
  height: 25px;
}

.HP {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  font: 18px Roboto;
  color: #3E3E3E;
  bottom: 7px;
}

.divU {
  position: relative;
  left: 30px;
  top: 70px;
  width: 150px;
}

.U {
  position: relative;
  height: 25px;
}

.UP {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  font: 18px Roboto;
  color: #3E3E3E;
  bottom: 7px;
}

.divM {
  position: relative;
  left: 30px;
  top: 75px;
  width: 150px;
}

.M {
  position: relative;
  height: 25px;
}

.MP {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  font: 18px Roboto;
  color: #3E3E3E;
  bottom: 7px;
}

.divS {
  position: relative;
  left: 30px;
  top: 80px;
  width: 150px;
}

.S {
  position: relative;
  height: 25px;
}

.SP {
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  font: 18px Roboto;
  color: #3E3E3E;
  bottom: 7px;
}

.main {
  display: flex;
  width: 100%;
}

.rightdashboard {
  width: 360px;
  height: 1000px;
}

.Dashboard {
  position: relative;
  top: 25px;
  left: 40px;
  width: 146px;
  height: 20px;
  font: 31px Roboto;
  font-weight: 200;
  margin: 0;
}

.counterpara {
  position: relative;
  width: 1250px;
  top: 80px;
  left: 0px;
  display: flex;
}


.newproduct {

  position: relative;
  top: 0px;
  left: 40px;
  width: 220px;
  height: 85px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: row;


}

.addproduct {

  position: relative;
  top: 0px;
  left: 65px;
  width: 220px;
  height: 85px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

}

.totalproduct {

  position: relative;
  top: 0px;
  left: 90px;
  width: 220px;
  height: 85px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

}

.todaysale {

  position: relative;
  top: 0px;
  left: 115px;
  width: 220px;
  height: 85px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

}

.totalsale {

  position: relative;
  top: 0px;
  left: 140px;
  width: 220px;
  height: 85px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

}

.img1 {
  width: 33px;
  height: 33px;
  margin: 25px 5px 41px 25px;

}

.img2 {
  position: relative;
  top: 20px;
  left: 15px;
}

.img3 {
  position: relative;
  top: 20px;
  left: 15px;
  height: 40px;
  width: 40px;
}

.img4 {
  position: relative;
  top: 20px;
  left: 15px;
}

.img5 {
  position: relative;
  top: 20px;
  left: 15px;
}

.info-txt {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: 31px;


}

.info-txt h2 {
  margin-left: 15px;
  width: 77px;
  height: 33px;
}

.info-txt p {

  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
}

.saleheading {
  position: rel
}

.sale {
  position: relative;
  display: flex;
  top: 100px;
  left: 40px;
  flex-direction: row;
}

.saleheading {
  margin-left: 20px;
  margin-top: 29px;
  margin-bottom: 30px;
  width: 43px;
  height: 29px;
}

#w {
  margin-top: 30px;
  margin-left: 480px;
}

.m {
  margin-top: 30px;
  margin-left: 10px;
}

.y {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 29px;
  color: #C8242F;
}

.datagraph img {
  position: relative;
  top: 125px;
  left: 55px;
  width: 710px;

}

.piechart {
  margin-top: 100px;
  margin-left: 50px;

}

.piechart h3 {
  font: normal normal medium 22px/29px Roboto;
  margin-left: 50px;
  margin-top: 45px;
  letter-spacing: 0px;
  color: #3E3E3E;
}

.piechart img {
  margin-top: 0px;
  margin-left: 89px;
}

.country-data {
  display: flex;
}

.country-vise {
  flex-direction: row;
  display: flex;
}

.country-name {
  margin-left: 9px;
}

.dot-red {
  width: 18px;
  height: 18px;
  background-color: #C8242F;
  border-radius: 50%;
  margin-left: 49px;
  margin-top: 15px;
}

.dot-green {
  width: 18px;
  height: 18px;
  background-color: #A2B86C;
  border-radius: 50%;
  margin-left: 26px;
  margin-top: 15px;
}

.dot-orange {
  width: 18px;
  height: 18px;
  background-color: #F16C20;
  border-radius: 50%;
  margin-left: 49px;
  margin-top: 15px;
}

.dot-yellow {
  width: 18px;
  height: 18px;
  background-color: #EBC844;
  border-radius: 50%;
  margin-left: 26px;
  margin-top: 15px;
}

.graphs {
  display: flex;
}

.Invoicetitle {
  display: flex;
  position: relative;
  top: 50px;
  margin-left: 50px;
}

.Invoicetitle p {
  margin-top: 20 px;
  margin-left: 1000px;
  font: normal normal normal 16px Roboto;
  color: #C8242F;
}

.table {
  position: relative;
  width: 1245px;
  left: 50px;
  top: 70px;
}

.paid {
  text-align: left;
  font: 15px/20px Roboto;
  color: #3CDD5F;
  background-color: #EBFFEF 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.fail {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #FF4545;
  opacity: 1;
}

.pending {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  color: #BABABA;
}








/*For Mobile*/



  @media screen and (max-width: 400px) {
    .menubar{
      margin-top:19px;
  
    }
    .rightdashboard{
      position: relative;
      top: 25px;
    }
    
    .counterpara {
      flex-direction: column;
    }
    .newproduct{
      border: 1px solid black;

    }
    .graphs{
      flex-direction: column;
    }
    .datagraph {
      width: 150px;
      margin-left: 0px;
      height: 200px;
    }
    .datagraph img {
      width: 220px;
    }
    .newproduct {
      background-color: #ffffff;
      width: 280px;
      margin-bottom: 20px;
    }

  .info-txt{
    display: flex;
    flex-direction: row;
  }
  .tex1{
    margin-left:95px;
    font-size: 15px;
    margin-top:-6px ;
  }

  .h2, h2 {
    position:relative ;
    top:25px;
    left: 5px;
    font-size: calc(1.5rem + .9vw);
    width: 200px;
   margin: 0;
  }

    .chart {
      flex-direction: column;
    }
    .piechart {
      width: 250px;
      margin-left: 0px;
    }
    .piechart img {
      width: 100%;
      margin-left: 45px;
    }
  
    .data-table {
      margin-right: 50px;
    }
    #w {
      margin-top: 35px;
      margin-left: 30px;
      font-size: smaller;
    }
    .m,.y{
      margin-top: 35px;
      margin-left:0 px;
      font-size: smaller;

    }
    
    .insight {
      width: 300px;
      margin-left: 0px;
    }
    

    .header-logo{
      height:3vh;
      margin-top:23px;
    }
    .search-icon {
      margin-left:20px;
      margin-top: 10px;
      width: 18px;
      height: 18px;
    }
    .search-box {
      width:15vw;
      margin-left: 14px;
      margin-top: 10px;
      text-align: left;
      font: normal normal normal 16px/21px Roboto;
      color: #000000;
    }
    .notification{
      margin-top: 11px;
      width:15px;

    }
    .dropdown2{
       margin-top: 17px;
    
    }

    .profile{
      margin-left: 14px;
      margin-top: 17px;
      height: 3vh;
      width:6vw;
    }
    .para{
      display: none;
    }
  
    
    #toggle-button{
      position: absolute;
      width:20wh ;
      height:100vh ;
      
      left:0px;
      z-index: 1;
    }

    #toggle-button.active{
      left:600px;
      
    }

    #toggle-button .sidebar{
      position: absolute;
      top:30px;
      background-color:#ECECEC;
      height: 600px;
    
    }
  }


@media only screen and (max-width:760px)





