

.body {

    font-family: Roboto, Light;
}

.image1 {
    position:relative;
    display:inline-block;
    top: 72px;
    left: 90px;
    width: 576px;
    height: 576px;
}

.hero-image {
    margin:100px;
    height:400px;
    width:400px;
    border: 20px solid #FFFFFF;
    box-shadow: 0px 4px 5px #0000000A;
    border-radius:50%;
}
.maindiv {
    display:flex;
    height: 640px;
    width: 1252px;
}
.companytitle {

    display: inline-block;
    width: 950px;
    height:640px;

}
.companylogo {
    position:relative;

    border: 20px #000000;
    left:80px;
    top:150px;
    width: 272px;
    height: 58px;
}
.tagline {
    position: relative;
    top: 130px;
    left: 80px;
    width: 500px;
    height: 100px;
}
.pre {
    font: normal normal 300 40px/47px Roboto;   /*font: font-style font-variant font-weight font-size [/ line-height] font-family;*/
}
.experts {
    color: #C8242F;
    font: normal normal 900 40px/53px Roboto;
}
.logintag {
    position:relative;
    top: 150px;
    left: 80px;
    width: 260px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.username2 {
  position: relative;
  top: 170px;
  left: 80px;
  width: 429px;
  height: 49px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #ADADAD;
  border-radius: 5px;
  opacity: 1;
    width: 429px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;

}

.password2 {
  position: relative;
  top: 190px;
  left: 80px;
  width: 429px;
  height: 49px;

  border: 1px solid #ADADAD;
  border-radius: 5px;

    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}
.login {
    position:relative;
    top: 210px;
    left: 80px;
    width: 138px;
    height: 45px;
    background: #C8242F;
    border-radius: 23px;
    color:white;
    border:none;
}
.Resetpassword {
    position:relative;
    top: 165px;
    left: 400px;
    width: 121px;
    height: 20px;
}
.Resetpassword2 {
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    color: #ADADAD;
}
.newmember {
    position:relative;
    top: 190px;
    left: 80px;
    width: 300px;
    height: 20px;
    font: normal normal normal 15px/20px Roboto;
    color: #ADADAD;
}
.span2 {
    font:15px/20px Roboto;
    color: #C8242F;
}
.right {
    margin-left:100px;
}



@media only screen and (max-width:360px) {
  .maindiv
  {
    display: flex;
    flex-direction: column;
    height: 666px;
  }

  .hero-image{
    height:500px ;
    width: 500px ;
    position:relative;
    left:270px;
  }
  .right{
    position: relative;
    top: 70px;
  }
  .companylogo{
    position: relative;
    left:270px;
    height:auto;
    width: 700px ;
  }
  .tagline{
    height:auto ;
    width:auto ;
  }
  .experts{
    position: relative;
    left:4px;
    font-size: 70px;
    line-height: 70px;

  }
  .pre
  {
    position: relative;
    left:160px;
    font-size: 70px;
    line-height: 70px;
  }

  .logintag{
    height:auto ;
    width:auto;
    font-size:75px;
    position: relative;
    left: 300px;
    top: 400px;

  }

  .username2,.password2{
    height: 80px;
    width: 940px;
    position: relative;
    top:450px;
    left: 190px;
  }
  .login
  {
    height: 80px;
    width: 940px;
    position: relative;
    top:550px;
    left: 190px;
    font-size: 30px;
  }

  .Resetpassword2{
    height: 80px;
    width: 940px;
    position: relative;
    top:400px;
    left: 190px;
    font-size: 20px;
  }
  .newmember{
    position: relative;
    width: auto;
    top:750px;
    font-size: 35px;
    left: 190px;
  }
  .span22{
    position: relative;
    top:0px;
    font:20px !important;
    color:#C8242F;
    left:0px;
  }

}


@media only screen and (min-width:727px) and (max-width:1390px)
{
  .hero-image{
    position: relative;
    top:270px;
    margin-left: 60px;
    left: 45px;
    height: 270px;
    width: 270px;
  }
  .right{
    position: relative;
    top: 70px;
  }
  .companylogo{
    position: relative;
    left: 0px;
    height:90px;
    width: 630px ;
  }
  .tagline{
    height:200px ;
    width:600px ;
  }
  .experts{
    position: relative;
    left:4px;
    font-size: 60px;
    line-height: 70px;

  }
  .pre
  {
    position: relative;
    left: 0px;
    font-size: 40px;
    line-height: 43px;
  }
  .logintag{
    height:auto ;
    width:auto;
    font-size:35px;
    position: relative;
    left: 80px;
    top: 130px;

  }
  .username2,.password2{
    height: 70px;
    width: 540px;
    position: relative;
    top:150px;
    left: 80px;
    margin-top: 29px;
  }
  .login
  {
    height: 55px;
    width: 200px;
    position: relative;
    top:200px;
    left: 90px;
    font-size: 30px;
  }
  .Resetpassword2{
    height: 30px;
    width: 150px;
    position: relative;
    top:0px;
    left:80px;
    font-size: 20px;
    margin-top: 0;
  }
  
}